body,
html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.bg-custom {
    background-color: #ffcc00;
}

.custom-gradient {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
}

.h-100 {
    min-height: 100vh;
}

.h-100p {
    min-height: 100%;
}

.w-100p {
    min-width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

.kanban-columns-container {
    margin-left: 250px;
    display: flex;
    overflow-x: auto;
    padding-bottom: 8px;
    white-space: nowrap;
    min-height: 100vh;
}

.kanban-column {
    min-width: 300px;
    max-width: 300px;
    flex: 0 0 auto;
}

.kanban-board {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    flex: 0 0 auto;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Легкая тень при наведении */
}

/* Стили для кнопки выхода */
.btn-danger {
    margin-top: 1rem;
}

.list-group-item {
    align-items: center;
}

.form-control {
    flex: 1;
    /* Поле ввода растягивается на доступную ширину */
}

.text-truncate {
    white-space: normal;
    /* Разрешает перенос текста */
    overflow: visible;
    /* Отображает текст полностью */
    text-overflow: unset;
    /* Отключает многоточие */
}

.text-container {
    flex-grow: 1;
    white-space: normal;
    word-break: break-word;
}

.button-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 0em;
    flex-shrink: 0;
}

.btn-danger {
    margin: 2px 2px 2px 2px;
}

.selected {
    border: 2px solid #007bff;
    border-radius: "4px";
    margin: 0;
    padding: 0;
}

.custom-button {
    cursor: pointer;
}

.drag-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: grab;
    font-size: 18px;
    padding: 20px;-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.accordion-header {
    display: flex;
    align-items: center;
}

.priority-low {
    color: green;
}

.priority-medium {
    color: blue;
}

.priority-high {
    color: red;
}

.description-style {
    color: gray;
}

.user-style {
    color:deepskyblue;
}